@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ruthie&family=Sacramento&display=swap');

body {
    overflow-x: hidden;
    background-color: #2F2020;
}

* {
    font-family: 'Poppins', sans-serif;
}

.sacramento {
font-family: 'Sacramento', cursive;
}

.ruthie {
    font-family: 'Ruthie', cursive;
}

#cover {
    overflow-y: hidden;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.popup-image {
    position: fixed;
    width: 94vw;
    margin-left: 10px;
    top: 23%;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center;
    border: 2px solid rgb(80, 80, 80);
    background-size: cover;
    box-shadow: rgba(24, 24, 24, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    z-index: 33;
    transition: 0.4s;
    display: none;
}

.overlay {
    position: fixed;
    display: none;
    width: 100vw;
    z-index: 22;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
}

.close {
    position: absolute;
    z-index: 24;
    top: 15px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.popup-image img {
    width: auto;
    height: 100%;
    border-radius: 10px;
}